.servicesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  color: var(--Dark);
}

.servicesCardContainer {
  /* background-color: var(--lighter2); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 20px;
  width: 85vw;
  padding: 0px 20px;
}

.servicesCardContainer legend {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  color: var(--Dark);
  text-shadow: 3px 2px 8px grey;
}

.servicesCardContainer legend span {
  color: var(--darker1);
  font-size: 5rem;
}

.serviceCatagories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px 0;
  gap: 50px;
}

.singleServiceCatagorie {
  background-color: var(--lighter2);
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.singleServiceCatagorie:hover {
  background-color: var(--light2);
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.serviceCards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 0 20px;
}

.singleServiceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lighter1);
  padding: 20px 20px;
  border-radius: 10px;
  width: 250px;
  height: 500px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.singleServiceCard h3 {
  text-align: center;
  font-size: 1.7rem;
}

.singleServiceCard .servicePricing {
  text-align: center;
  padding: 10px 40px;
  background-color: var(--light2);
  border-radius: 10px;
  margin: 10px 0;
}

.singleServiceCard .servicePricing p {
  font-weight: 500;
}

.singleServiceCard .servicePricing span {
  font-size: 1.4rem;
  font-weight: 600;
}

.singleServiceCard ul {
  margin-left: 25px;
  margin-top: 10px;
}

.singleServiceCard .learn_more {
  position: absolute;
  bottom: 40px;
}

.singleServiceCard .learn_more a {
  color: #81d7f9;
  transition: ease-in-out 3s;
  text-shadow: 1px 1px 1px rgba(74, 124, 143, 0.66);
}
.singleServiceCard .learn_more a:hover {
  color: #39c7ff;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: ease-in-out 3s;
}
