.hero {
  width: 100vw;
  overflow: hidden;
}

.heroContainer {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  height: 90vh;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.heading h1 {
  font-size: 50px;
  padding: 10px;
}

.heading h1 span {
  font-size: 55px;
  color: #ffca8a;
}

.ssHeading h5 {
  color: #4fc6a6;
  padding: 10px;
  font-size: 20px;
}

.subHeading h4 {
  font-size: 15px;
  color: grey;
  font-weight: 400;
  padding: 20px;
  font-size: 20px;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btns .btn {
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 15px;
  margin: 20px;
}

.btns .btn1 {
  background-color: var(--dark1);
}
.btns .btn1:hover {
  background-color: var(--darker1);
}
.btns .btn2 {
  background-color: rgb(255, 202, 138);
}
.btns .btn2:hover {
  background-color: rgb(247, 207, 158);
}

.rectangle {
  background-color: var(--dark1);
  width: 500px;
  height: 450px;
  position: absolute;
  top: 168px;
  /* border: 1px solid black; */
  z-index: -1;
}

.rectangle-right {
  right: -280px;
  transform: rotate(50deg);
}
.rectangle-left {
  left: -280px;
  transform: rotate(-50deg);
}
