.qualities {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
  /* height: 100vh; */
  overflow: hidden;
  padding: 150px 100px;

  background-color: aliceblue;
}

.qualities .leftPart {
  width: 40vw;
  margin-right: 20px;
  margin-left: 100px;
}

.qualities .leftPart .qualitiesHeading {
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  line-height: 40px;
  margin-bottom: 20px;
  color: #211951;
}
.qualitiesHeading span {
  color: #4fc6a6;
}

.qualities .leftPart .discription {
  font-size: 14px;
  color: rgb(156, 154, 154);
  text-align: justify;
  width: 80%;
  line-height: 20px;
  margin-bottom: 20px;
}
