.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--dark1);
  padding: 30px 70px;
  color: #211951;
}

.footerLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 40px;
}

.footerLeft img {
  width: 60px;
}

.footerLeft p {
  font-size: 1.2rem;
  font-weight: 500;
}

.footerLeft .phmail {
  font-size: 0.9rem;
}

.footerMiddle {
  flex: 0.7;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.footerMiddle ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footerMiddle ul li {
  cursor: pointer;
}
.footerMiddle ul li:hover {
  transform: scale(1.05);
  transition: ease-in-out 200ms;
  text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.66);
}

.footerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footerRight input {
  width: 300px;
  border-radius: 5px;
  padding: 10px 10px;
  border: 1px solid black;
}

.footerRight textarea {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  padding: 10px 10px;
  border: 1px solid black;
}

.footerRight .frmBtn {
  background-color: #211951;
  width: 300px;
  border-radius: 5px;
  padding: 10px 10px;
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footerRight .frmBtn:hover {
  background-color: #2f2374;
}

/* Default styles that apply to all screen sizes */

/* Mobile devices (320px - 480px) */
@media only screen and (max-width: 680px) {
  /* CSS styles specific to mobile devices */
  .footerContainer {
    display: block;
    justify-content: space-between;
    padding: 30px 20px;
  }

  .footerLeft {
    margin-left: 0;
  }

  .footerMiddle {
    width: min-content;
    margin: 30px 0;
  }

  .footerMiddle ul {
    align-items: start;
    gap: 10px;
  }

}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 680px) and (max-width: 768px) {
  /* CSS styles specific to iPads and Tablets */
  .footerLeft {
    margin-left: 10px;
  }

  .footerRight input {
    width: 200px;
  }

  .footerRight textarea {
    width: 200px;
  }

  .footerRight .frmBtn {
    width: 200px;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS styles specific to small screens and laptops */
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS styles specific to desktops and large screens */
}

/* Larger than 1200px (Extra large screens) */
@media only screen and (min-width: 1201px) {
  /* CSS styles specific to extra large screens */
}
